In [1]:
import pandas as pd

In [107]:
pd.set_option('display.max_columns', None)

Data = pd.read_csv("smalldata.csv")
#print(Data.head())

#Steage 1
Selection = ['pokemonId', 'latitude', 'longitude', 'appearedLocalTime','appearedTimeOfDay', 'appearedHour','appearedMinute',\
             'appearedDay',  'appearedMonth',  'appearedYear','terrainType', 'closeToWater', 'gymDistanceKm','city', 'continent','weather', 'temperature', \
             'windSpeed', 'windBearing', 'pressure','class' ]
Selection = ['pokemonId', 'latitude', 'longitude', 'appearedHour','appearedMinute',\
            'terrainType', 'closeToWater', 'gymDistanceKm','weather', 'temperature', \
             'windSpeed', 'windBearing', 'pressure',\
            'class' ]
ReducedData = Data.loc[:, Selection]
ReducedData.head()

,pokemonId,latitude,longitude,appearedHour,appearedMinute,terrainType,closeToWater,gymDistanceKm,weather,temperature,windSpeed,windBearing,pressure,class
0,16,20.525745,-97.460829,5,57,14,False,0.049869,Foggy,25.5,4.79,269,1018.02,16
1,133,20.523695,-97.461167,5,57,14,False,0.259156,Foggy,25.5,4.79,269,1018.02,133
2,16,38.903590,-77.199780,5,57,13,False,0.489886,Clear,24.2,4.29,218,1015.29,16
3,13,47.665903,-122.312561,5,56,0,True,0.359309,PartlyCloudy,15.6,5.84,160,1020.52,13
4,133,47.666454,-122.311628,5,56,0,True,0.210543,PartlyCloudy,15.6,5.84,160,1020.52,133

In [108]:
ReducedData['weather']= ReducedData['weather'].astype('category')
catedict = dict(enumerate(ReducedData['weather'].cat.categories))
ReducedData['weather'] = ReducedData['weather'].cat.codes
ReducedData.head()

,pokemonId,latitude,longitude,appearedHour,appearedMinute,terrainType,closeToWater,gymDistanceKm,weather,temperature,windSpeed,windBearing,pressure,class
0,16,20.525745,-97.460829,5,57,14,False,0.049869,1,25.5,4.79,269,1018.02,16
1,133,20.523695,-97.461167,5,57,14,False,0.259156,1,25.5,4.79,269,1018.02,133
2,16,38.903590,-77.199780,5,57,13,False,0.489886,0,24.2,4.29,218,1015.29,16
3,13,47.665903,-122.312561,5,56,0,True,0.359309,4,15.6,5.84,160,1020.52,13
4,133,47.666454,-122.311628,5,56,0,True,0.210543,4,15.6,5.84,160,1020.52,133

In [110]:
ReducedData['closeToWater'] = ReducedData['closeToWater'].astype('category')
catedict2 = dict(enumerate(ReducedData['closeToWater'].cat.categories))
ReducedData['closeToWater'] = ReducedData['closeToWater'].cat.codes
ReducedData.head()

,pokemonId,latitude,longitude,appearedHour,appearedMinute,terrainType,closeToWater,gymDistanceKm,weather,temperature,windSpeed,windBearing,pressure,class
0,16,20.525745,-97.460829,5,57,14,0,0.049869,1,25.5,4.79,269,1018.02,16
1,133,20.523695,-97.461167,5,57,14,0,0.259156,1,25.5,4.79,269,1018.02,133
2,16,38.903590,-77.199780,5,57,13,0,0.489886,0,24.2,4.29,218,1015.29,16
3,13,47.665903,-122.312561,5,56,0,1,0.359309,4,15.6,5.84,160,1020.52,13
4,133,47.666454,-122.311628,5,56,0,1,0.210543,4,15.6,5.84,160,1020.52,133

In [112]:
Datamaxtrix = ReducedData.tomatrix()

AttributeError: 'DataFrame' object has no attribute 'tomatrix'