In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)

#Data = pd.read_csv("smalldata.csv")
Data = pd.read_csv("../Data/300k.csv")
#print(Data.head())

#Steage 1
#Selection = ['pokemonId', 'latitude', 'longitude', 'appearedLocalTime','appearedTimeOfDay', 'appearedHour','appearedMinute',\
#             'appearedDay',  'appearedMonth',  'appearedYear','terrainType', 'closeToWater', 'gymDistanceKm','city', 'continent','weather', 'temperature', \
#             'windSpeed', 'windBearing', 'pressure','class' ]
Selection = ['pokemonId', 'city','latitude', 'longitude', 'appearedHour','appearedMinute',\
            'terrainType', 'closeToWater', 'gymDistanceKm','weather', 'temperature', \
             'windSpeed', 'windBearing', 'pressure',\
            'class' ]
ReducedData = Data.loc[:, Selection]
ReducedData.head()

C:\WorkSpace\Python\Big Data\project\venv\lib\site-packages\IPython\core\interactiveshell.py:2705: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,pokemonId,city,latitude,longitude,appearedHour,appearedMinute,terrainType,closeToWater,gymDistanceKm,weather,temperature,windSpeed,windBearing,pressure,class
0,16,Mexico_City,20.525745,-97.460829,5,57,14,False,0.049869,Foggy,25.5,4.79,269,1018.02,16
1,133,Mexico_City,20.523695,-97.461167,5,57,14,False,0.259156,Foggy,25.5,4.79,269,1018.02,133
2,16,New_York,38.903590,-77.199780,5,57,13,False,0.489886,Clear,24.2,4.29,218,1015.29,16
3,13,Los_Angeles,47.665903,-122.312561,5,56,0,True,0.359309,PartlyCloudy,15.6,5.84,160,1020.52,13
4,133,Los_Angeles,47.666454,-122.311628,5,56,0,True,0.210543,PartlyCloudy,15.6,5.84,160,1020.52,133

In [3]:
ReducedData['weather']= ReducedData['weather'].astype('category')
catedict = dict(enumerate(ReducedData['weather'].cat.categories))
ReducedData['weather'] = ReducedData['weather'].cat.codes
ReducedData.head()

,pokemonId,city,latitude,longitude,appearedHour,appearedMinute,terrainType,closeToWater,gymDistanceKm,weather,temperature,windSpeed,windBearing,pressure,class
0,16,Mexico_City,20.525745,-97.460829,5,57,14,False,0.049869,11,25.5,4.79,269,1018.02,16
1,133,Mexico_City,20.523695,-97.461167,5,57,14,False,0.259156,11,25.5,4.79,269,1018.02,133
2,16,New_York,38.903590,-77.199780,5,57,13,False,0.489886,4,24.2,4.29,218,1015.29,16
3,13,Los_Angeles,47.665903,-122.312561,5,56,0,True,0.359309,20,15.6,5.84,160,1020.52,13
4,133,Los_Angeles,47.666454,-122.311628,5,56,0,True,0.210543,20,15.6,5.84,160,1020.52,133

In [4]:
ReducedData['closeToWater'] = ReducedData['closeToWater'].astype('category')
catedict2 = dict(enumerate(ReducedData['closeToWater'].cat.categories))
ReducedData['closeToWater'] = ReducedData['closeToWater'].cat.codes
ReducedData.head()

,pokemonId,city,latitude,longitude,appearedHour,appearedMinute,terrainType,closeToWater,gymDistanceKm,weather,temperature,windSpeed,windBearing,pressure,class
0,16,Mexico_City,20.525745,-97.460829,5,57,14,0,0.049869,11,25.5,4.79,269,1018.02,16
1,133,Mexico_City,20.523695,-97.461167,5,57,14,0,0.259156,11,25.5,4.79,269,1018.02,133
2,16,New_York,38.903590,-77.199780,5,57,13,0,0.489886,4,24.2,4.29,218,1015.29,16
3,13,Los_Angeles,47.665903,-122.312561,5,56,0,1,0.359309,20,15.6,5.84,160,1020.52,13
4,133,Los_Angeles,47.666454,-122.311628,5,56,0,1,0.210543,20,15.6,5.84,160,1020.52,133

In [5]:
ReducedData['city'] = ReducedData['city'].astype('category')
catedict3 = dict(enumerate(ReducedData['city'].cat.categories))
ReducedData['city'] = ReducedData['city'].cat.codes
ReducedData.head()

,pokemonId,city,latitude,longitude,appearedHour,appearedMinute,terrainType,closeToWater,gymDistanceKm,weather,temperature,windSpeed,windBearing,pressure,class
0,16,59,20.525745,-97.460829,5,57,14,0,0.049869,11,25.5,4.79,269,1018.02,16
1,133,59,20.523695,-97.461167,5,57,14,0,0.259156,11,25.5,4.79,269,1018.02,133
2,16,65,38.903590,-77.199780,5,57,13,0,0.489886,4,24.2,4.29,218,1015.29,16
3,13,52,47.665903,-122.312561,5,56,0,1,0.359309,20,15.6,5.84,160,1020.52,13
4,133,52,47.666454,-122.311628,5,56,0,1,0.210543,20,15.6,5.84,160,1020.52,133

In [6]:
Datamaxtrix = ReducedData.as_matrix()

C:\WorkSpace\Python\Big Data\project\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [7]:
x = np.array(Datamaxtrix[:,4:-1])
y = np.array(Datamaxtrix[:,1])
print(np.shape(x))
print(np.shape(y))

(296021, 10)
(296021,)

In [8]:
sample_numbers = np.shape(x)[0]
randomindex = np.random.choice(sample_numbers, sample_numbers, replace=False)

In [9]:
#Reindex
x = x[randomindex,:]
y = y[randomindex]
#Split into Training and Testing
ratio = 0.7
train_numbers = int(ratio * sample_numbers)
test_numbers = sample_numbers - train_numbers 
feature_train = x[0:train_numbers,:]
feature_test = x[train_numbers:sample_numbers,:]
label_train = y[0:train_numbers]
label_test = y[train_numbers:sample_numbers]
print(np.shape(feature_train),np.shape(label_train))
print(np.shape(feature_test),np.shape(label_test))

(207214, 10) (207214,)
(88807, 10) (88807,)

In [10]:
from sklearn import ensemble

In [11]:
model = ensemble.RandomForestClassifier(n_estimators=100,verbose=1)
model.fit(feature_train,label_train)
score = model.score(feature_test,label_test)
result = model.predict(feature_test)
#plt.figure()
#plt.plot(np.arange(len(result)), label_test,'b',label='true latitude')
#plt.plot(np.arange(len(result)),result,'ro-',label='predict latitude')
#plt.title('score: %f'%score)
#plt.legend()
print(score)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.2min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:   16.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9979168308804486

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:   14.5s finished

In [12]:
result

array([87., 78., 57., ..., 65., 73., 51.])

In [13]:
Predict_city = np.array(list(map(lambda x: catedict3[x],result)))
Predict_city

array(['Tokyo', 'Rome', 'Manila', ..., 'New_York', 'Prague', 'London'],
      dtype='<U12')

In [14]:
Predict_latitude = pd.DataFrame(Predict_city)
Predict_latitude.to_csv("../Result/Predict_city.csv")

In [16]:
city = ReducedData['city']
city.to_csv("../Result/city.csv",header = True)